<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/style.css" >
    <title>Fashion</title>
</head>
<body>
    <div class="ball">
        <div class="job">
          <h2>Products</h2>
          <!-- 1 -->
          <a href="#">
            <div class="numb">
              <img src="/images/man/image5.jpg" alt="">
              <span>Ice Ring</span>
              <div class="trans">
                 <div class="produce">
                    <p>Price: $200</p>
                    <input type="button" value="Add to cart">
              </div>
    
              </div>
            </div>
             </a>
             <!-- 2 -->
             <a href="#">
              <div class="numb">
                <img src="/images/man/image4.jpg" alt="">
                <span>Gold Chain</span>
                <div class="trans">    <div class="produce">
                  <p>Price: $700</p>
                  <input type="button" value="Add to cart">
            </div>
                  
                </div>
              </div>
            </a>
           
            </a>
            <!-- 3 -->
            <a href="#">
              <div class="numb">
                <img src="/images/man/image6.jpg" alt="">
                <span>Gold Ice</span>
                <div class="trans">
                  <div class="produce">
                    <p>Price: $500</p>
                    <input type="button" value="Add to cart">
              </div>
                  
                </div>
              </div>
            </a>
            <!-- 4 -->
            <a href="#">
              <div class="numb">
                <img src="/images/man/image16.jpg" alt="">
                <span>Ice</span>
                <div class="trans">
                  <div class="produce">
                    <p>Price: $300</p>
                    <input type="button" value="Add to cart">
              </div>
                  
                </div>
              </div>
            </a>
            <!-- 5 -->
            <a href="#">
              <div class="nop">
                <img src="/images/man/image2.jpg" alt="">
                <span>Patek Phillip</span>
                <div class="trans">
                  <div class="produce">
                    <p>Price: $200</p>
                    <input type="button" value="Add to cart">
              </div>
                  
                </div>
              </div>
            </a>
    
        </div>
     </div>
    
</body>
</html>