<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
   
    
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.min.js"></script>

  <script>
    $(document).ready(function(){
      $('.slider').bxSlider({
        mode:'horizontal',
        aut0:true
      });
    });
  </script>
    
  <link rel="stylesheet" href="css/style.css" type="text/css">
    <title>::Eclipse::</title>
</head>
<body>
        <div id="wrapper">
                <div id="header">
                    <div id="subheader"> 
                        <!-- <div id="conatiner">

                            <a href="#">Help</a> <a href="#">Download App</a>  <a href="#">Guest</a> <a href="#">Customers</a> 
                        </div> -->
                  
                    <div>
                          <!-- main  header -->
                          <div id="main-header">
                              <div id="logo">
                                  <span id="ist">Eclipse</span><span id="iist"></span>
                                </div>
                                <!-- search  -->
                                <div id="search">
                                    <form action="">
                                        <input  class="search-area" type="text" name="text" placeholder="Search here">
                                        <button class="search-btn" type="text" name="submit" value="Search ">Search</button>
                                     </form>
                                    </div>
                                    <!-- menu user -->
                                    <div id="user-menu">
                                    <li><a href="#"> Cart</a></li>
                                    <li><a href="/users/register">Register</a></li>
                                    </div>
                                </div>
                                </div>
                          </div>
                    </div>
                </div>
            </div>
                <!-- navigation bar -->
                          <div id="navigation">
                              <nav> 
                              <a href="">Home</a>
                              <a href="">Fashion</a>
                              <a href="">Games</a>
                              <a href="">Cars</a>
                              <a href="">Trucks</a>
                              <a href="">Cusmetics</a>
                              <a href="">Accessories</a>
                              <a href="">Deals</a>
                              <a href="">Order</a>
                              <a href="">Contact Us</a>
                              <a href="">Fire Arms</a>
                            </nav>
                         </div>

                         <!--Home slider  -->
                         <!-- <div id="slider">
                             <ul class="bxslider">
                             <li><img src="/images/rollsroyce1.jpeg" ></li>
                            <li><img src="/images/Ferrari2.jpeg" alt=""></li>
                            <li><img src="/images/Bugatti1.jpeg" alt=""></li>
                        </ul>
                         </div> -->
  <!-- products -->
  <div class="container">
    <div id="heading-block">
      <H2>Category</H2>
      <!-- 1ST box -->
     <a href="#">
        <div class="catbox">
        <img src="/images/image9.jpg" alt="">
        <span> Men Fashion</span>
        <div class="trans">
              
        </div>

      </div>
     </a>
     <!-- 2T box -->
     <a href="#">
      <div class="catbox">
      <img src="/images/shoes/images.jpg" alt="">
      <span> Men Fashion</span>
      <div class="trans">
              
      </div>

    </div>
   </a>
   <!-- 3 box -->
   <a href="#">
    <div class="catbox">
    <img src="/images/image7.jpg" alt="">
    <span> Mortal kombat</span>
    <div class="trans">
              
    </div>

  </div>
 </a>
 <!-- 4 box -->
 <a href="#">
  <div class="catbox">
  <img src="/images/cusmetics/image35.jpg" alt="">
  <span>Cusmetics</span>
 

</div>
</a>
<!-- 5 box -->
<a href="#">
  <div class="catbox">
  <img src="/images/image19.jpg" alt="">
  <span> Men Fashion</span>
  <div class="trans">
              
  </div>

</div>
</a>


    </div>

  </div>
  <!-- products -->
  <div class="ball">
    <div class="job">
      <h2>Products</h2>
      <!-- 1 -->
      <a href="#">
        <div class="numb">
          <img src="/images/man/image5.jpg" alt="">
          <span>Ice Ring</span>
          <div class="trans">
             <div class="produce">
                <p>Price: $200</p>
                <input type="button" value="Add to cart">
          </div>

          </div>
        </div>
         </a>
         <!-- 2 -->
         <a href="#">
          <div class="numb">
            <img src="/images/man/image4.jpg" alt="">
            <span>Gold Chain</span>
            <div class="trans">    <div class="produce">
              <p>Price: $700</p>
              <input type="button" value="Add to cart">
        </div>
              
            </div>
          </div>
        </a>
       
        </a>
        <!-- 3 -->
        <a href="#">
          <div class="numb">
            <img src="/images/man/image6.jpg" alt="">
            <span>Gold Ice</span>
            <div class="trans">
              <div class="produce">
                <p>Price: $500</p>
                <input type="button" value="Add to cart">
          </div>
              
            </div>
          </div>
        </a>
        <!-- 4 -->
        <a href="#">
          <div class="numb">
            <img src="/images/man/image16.jpg" alt="">
            <span>Ice</span>
            <div class="trans">
              <div class="produce">
                <p>Price: $300</p>
                <input type="button" value="Add to cart">
          </div>
              
            </div>
          </div>
        </a>
        <!-- 5 -->
        <a href="#">
          <div class="nop">
            <img src="/images/man/image2.jpg" alt="">
            <span>Patek Phillip</span>
            <div class="trans">
              <div class="produce">
                <p>Price: $200</p>
                <input type="button" value="Add to cart">
          </div>
              
            </div>
          </div>
        </a>

    </div>
 </div>
 <!-- offers -->
 <div class="man-u">
   <div class="gold">
     <h2>AD</h2>

      <ul class="bxslider">
        <li><img src="/images/man/image41.jpg" alt="" ></li> 
      </ul>
    </div>


</div>
<!-- games -->
<div class="games">
<div class="speta">
    <h2>Ladies Fashion</h2>
    <!-- 1 -->
    <a href="#">
      <div class="numb">
        <img src="/images/female/download5.jpg" alt="">
        <span>Shoe Fashion</span>
        <div class="trans">
           <div class="produce">
              <p>Price: $65</p>
              <input type="button" value="Add to cart">
        </div>

        </div>
      </div>
       </a>
       <!-- 2 -->
       <a href="#">
        <div class="numb">
          <img src="/images/female/download1.jpg" alt="">
          <span>Shoe Fashion</span>
          <div class="trans">
             <div class="produce">
                <p>Price: $100</p>
                <input type="button" value="Add to cart">
          </div>
  
          </div>
        </div>
         </a>
         <!-- 3 -->
         <a href="#">
          <div class="numb">
            <img src="/images/female/download2.jpg" alt="">
            <span>Shoe Fashion</span>
            <div class="trans">
               <div class="produce">
                  <p>Price: $150</p>
                  <input type="button" value="Add to cart">
            </div>
    
            </div>
          </div>
           </a>
           <!-- 4 -->
           <a href="#">
            <div class="numb">
              <img src="/images/female/download3.jpg" alt="">
              <span>Shoe Fashion</span>
              <div class="trans">
                 <div class="produce">
                    <p>Price: $100</p>
                    <input type="button" value="Add to cart">
              </div>
      
              </div>
            </div>
             </a>
             <!-- 5 -->
             <a href="#">
              <div class="numb">
                <img src="/images/female/download.jpg" alt="">
                <span>Shoe Fashion</span>
                <div class="trans">
                   <div class="produce">
                      <p>Price: $200</p>
                      <input type="button" value="Add to cart">
                </div>
        
                </div>
              </div>
               </a>
       
    </div>
    </div>
    <div class="football">

    </div>

  
                      
  </body>
</html>






     

    